.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  pointer-events: none;
}


.menu-item-with-overlay {
  position: relative;
}


.menu-item-with-overlay:hover .overlay-container {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


body.no-scroll {
  overflow: hidden;
}


.menu-item-with-overlay .overlay-container {
  transition-delay: 0s;
}

.menu-item-with-overlay:hover .overlay-container {
  transition-delay: 0s;
}

.menu-item-with-overlay:not(:hover) .overlay-container {
  transition-delay: 0.8s;
}
